{% extends "main/base.html"%} {% block content %}
<!-- Hero -->
<section class="min-h-screen pt-24 flex items-center">
  <div class="max-w-6xl mx-auto px-6 grid md:grid-cols-2 gap-12 items-center">
    <div>
      <h1 class="text-6xl font-bold leading-tight">Hi, I'm Halan</h1>
      <p class="text-3xl text-zinc-400 mt-4">Full Stack Developer</p>
      <p class="mt-8 max-w-md text-zinc-300">
        I create modern and responsive web applications with clean design and
        smooth user experience.
      </p>
      <a
        href="#projects"
        class="mt-10 inline-block px-8 py-4 bg-emerald-500 hover:bg-emerald-600 rounded-2xl font-medium transition"
      >
        View My Projects
      </a>
    </div>
    <div>
      <img
        src="https://picsum.photos/id/1015/600/700"
        alt="Halan"
        class="rounded-3xl w-full shadow-2xl"
      />
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="py-24 bg-zinc-900">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-4xl font-bold text-center mb-12">Featured Projects</h2>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Project 1 -->
      {% for project in project %} 
      {% include "components/card.html"  %} 
    {% endfor %}
    </div>
  </div>
</section>
{%endblock%}
